form {
   display: flex;
   flex-direction: column;
   width: 50%;
   margin: auto;
}

input {
    margin: 10px 0px;
    box-shadow: 2px 3px 0px 0px #000;
}

#button {
    box-shadow: none;
    width: 150px;
    background-color: aquamarine;
    margin: 10px auto;
}

#button:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(46, 133, 104);
}

input:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

